DEBUG=True

POSTGRES_DB=<nome-do-banco-vem-aqui>
POSTGRES_USER=<usuario-do-banco-vem-aqui>
POSTGRES_PASSWORD=<senha-do-usuario-do-banco-aqui>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=<secret-key-for-sonar-cloudy-code-analysis>
