# Configurações gerais do Django
DEBUG=True
SECRET_KEY=<secret-key-for-sonar-cloudy-code-analysis>
ALLOWED_HOSTS=<allowed-hosts-vem-aqui>
CRON_BUSCAR_DADOS=<frequencia-cron-vem-aqui>
SENTRY_DSN=<dsn-do-sentry-vem-aqui>

# Configurações do banco PostgreSQL (container local)
POSTGRES_DB=<nome-do-banco-vem-aqui>
POSTGRES_USER=<usuario-do-banco-vem-aqui>
POSTGRES_PASSWORD=<senha-do-usuario-do-banco-aqui>
POSTGRES_HOST=localhost
POSTGRES_PORT=<porta-do-banco-vem-aqui>

# Configuração de conexão com o banco de dados via URL
DATABASE_URL=postgres://<usuario-do-banco-vem-aqui>:<senha-do-usuario-do-banco-aqui>@localhost:5432/<nome-do-banco-vem-aqui>

# Configurações do Jira
JIRA_BASE_URL=<url-do-jira-vem-aqui>
JIRA_USER=<usuario-do-jira-vem-aqui>
JIRA_TOKEN=<token-do-jira-vem-aqui>
