POSTGRES_DB=<nome-do-banco-vem-aqui>
POSTGRES_USER=<usuario-do-banco-vem-aqui>
POSTGRES_PASSWORD=<senha-do-usuario-do-banco-aqui>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=<secret-key-for-sonar-cloudy-code-analysis>
SENTRY_DSN=<your-sentry-dsn-goes-here>

JIRA_BASE_URL= <your-jira-instance-url-goes-here>
JIRA_USER=<your-jira-user-email-goes-here>
JIRA_TOKEN= <your-jira-api-token-goes-here>