# Django Core
SECRET_KEY=ci-placeholder-secret-key
DEBUG=True
ALLOWED_HOSTS=*

# Banco local ou sqlite
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Jira Mock / Dummy
JIRA_URL=https://dummy.atlassian.net
JIRA_USER=dummy@example.com
JIRA_TOKEN=dummytoken
